<!DOCTYPE>
<html>
<head>
  <title>Basic Idiom Chart from https://tobiasahlin.com/blog/chartjs-charts-to-get-you-started/</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>
<body>

<canvas id="myChart" width="1200" height="700"></canvas>

<style type="text/css">
</style>

<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
  type: '{{formattedResultsLineChart.chartType}}',
  data: {
    labels: {{{ formattedResultsLineChart.stringified.labels }}},
    datasets: {{{ formattedResultsLineChart.stringified.datasetsMaybeScaled }}}
  },
  options: {
      responsive: false,
      title: {
        display: true,
        text: {{{ formattedResultsLineChart.stringified.titleMaybeScaled }}}
      },
      scales: {
      xAxes: [{
        ticks: {
          maxRotation: 90,
          minRotation: 90
        }
      }],
      yAxes: [{
        type: {{{ formattedResultsLineChart.stringified.yAxisType }}}, // NB axes vs axis
        ticks: {
           // min: 0, //minimum tick
           // max: 1000, //maximum tick
           callback: function (value, index, values) {
               return Number(value.toString());//pass tick values as a string into Number function
           }
        },
      }]
    }

  }
});

</script>

<h2>formatted data</h2>

<pre>
{{{ formattedResults.stringified.phraseCountsPerSiteCsv }}}
</pre>

</body>
</html>
