<h1>Typos for assorted sites</h1>
<p>
  Additional params:
  <ul>
    <li>?maxDays=7</li>
    <li>?ignore=fridge,bicycle (default is ftalphaville, can be overridden by ?ignore=)</li>
  </ul>
</p>
{{#each sites as |site|}}
  <h2>{{ site.name }}, over past {{site.maxDays}} days</h2>
  {{#each site.byPhrase as |phraseObj phrase|}}
    <p>
      <a href="{{ phraseObj.query}}">{{ phrase }}</a>
      (status {{phraseObj.status}},
      results {{phraseObj.result}}{{#if site.alignApp}},
      <a href="{{site.alignApp}}{{phrase}}">align</a>{{/if}})
    </p>
    <ul>
      {{#each phraseObj.results as |result|}}
        <li>
          <p>({{result.section}}, {{result.date}}, <a href="mailto:{{result.mailto}}">mailto</a>)</p>
          <p>{{result.heading}}</p>
          <p><a href="{{result.fullPath}}">{{result.fullPath}}</a></p>
          <p>{{{result.standfirstCropped}}}</p>
          <p>--&gt; "{{phrase}}"</p>
          <p>{{{result.standfirst}}}</p>
        </li>
      {{/each}}
    </ul>
  {{/each}}

  {{#if site.alignApp}}
  <h3>NB</h3>
    <p>The <a href="{{site.alignApp}}">align</a> links refer to an experimental app which looks at all the most recent results, not just those in the last {{site.maxDays}} days.</p>
  {{/if}}
{{/each}}
