<h1>Typos for assorted sites</h1>

{{#each sites as |site|}}
  <h2>{{ site.name }}, over past {{site.maxDays}} days</h2>
  {{#each site.byPhrase as |phraseObj phrase|}}
    <p>
      <a href="{{ phraseObj.query}}">{{ phrase }}</a> (status {{phraseObj.status}}, results {{phraseObj.result}}{{#if site.alignApp}}, <a href="{{site.alignApp}}{{phrase}}">align</a>{{/if}})
    </p>
    <ul>
      {{#each phraseObj.results as |result|}}
        <li>
          <p>({{result.section}}, {{result.date}})</p>
          <p>{{result.heading}}</p>
          <p><a href="{{result.fullPath}}">{{result.fullPath}}</a></p>
          <p>{{{result.standfirst}}}</p>
          <p>--&gt; "{{phrase}}"</p>
        </li>
      {{/each}}
    </ul>
  {{/each}}

  {{#if site.alignApp}}
  <h3>NB</h3>
    <p>The <a href="{{site.alignApp}}">align</a> links refer to an experimental app which looks at all the most recent results, not just those in the last {{site.maxDays}} days.</p>
  {{/if}}
{{/each}}
